nodejs/.vagrant/machines/nodejs_testbed/virtualbox/action_provision
nodejs/.vagrant/machines/nodejs_testbed/virtualbox/action_set_name
nodejs/.vagrant/machines/nodejs_testbed/virtualbox/creator_uid
nodejs/.vagrant/machines/nodejs_testbed/virtualbox/id
nodejs/.vagrant/machines/nodejs_testbed/virtualbox/index_uuid
